#This Apache config file was created by Duplicator Installer on 2020-04-20 10:41:44.
#The original can be found in archived file with the name .htaccess__[HASH]

#RewriteEngine On
#RewriteCond %{HTTPS} off
#RewriteCond %{HTTP:X-Forwarded-Proto} !https
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#RewriteRule ^(.*)\.html$ https://%{HTTP_HOST}/$1 [R=301,L]

#RewriteBase /
#RewriteRule ^index\.php$ - [L]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /index.php [L]

#RewriteCond %{HTTP_HOST} .
#RewriteCond %{HTTP_HOST} ^www.(.*)$ [NC]
#RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

#RewriteCond %{REQUEST_URI} !/$
#RewriteCond %{REQUEST_URI} !\.
#RewriteRule ^(.*) %{REQUEST_URI}/ [R=301,L]



#RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
#RewriteRule ^ /%1 [NC,L,R]
#RewriteCond %{REQUEST_FILENAME}.html -f
#RewriteRule ^ %{REQUEST_URI}/.html [NC,L]

# ============Ïðîâåðÿåì, ïîâòîðÿåòñÿ ëè ñëåø (//) áîëåå äâóõ ðàç.
#RewriteCond %{THE_REQUEST} //
# ==============Èñêëþ÷àåì âñå ëèøíèå ñëåøè.
#RewriteRule .* /$0 [R=301,L]




# BEGIN WordPress
# Директивы (строки) между `BEGIN WordPress` и `END WordPress`
# созданы автоматически и подлежат изменению только через фильтры WordPress.
# Сделанные вручную изменения между этими маркерами будут перезаписаны.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>




# END WordPress